*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Orbitron;
}

#sbody {
    position: absolute;
    width: 100%;
    height:100vh;
    background:linear-gradient( rgb(153, 250, 255),white);
}
.Header h2{
    font-size: px;
    font-weight: 100;
}
::selection {
    color: #fff;
    background: lightblue;
}
.App {
    position: absolute;
    top: 15%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    left: 32.5%;
    width: 35%;
    height: 70%;
    padding-top: 15px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    background: transparent;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background:linear-gradient( rgb(153, 250, 255),white);
    gap: 4%;
}
.queno{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 10%;
    width: 100%;
    /* border: 1px solid black; */
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: none;
}
.heading{
    text-align: center;
    height: 20%;
    width: 100%;
    /* border: 1px solid black; */
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    display: none;
}
.Answer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 58%;
    width: 100%;
    display: none;
}
.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    gap:8%;
    border: 1px solid black;
    border-radius: 10px;
}
.btn button{
    width: 90%;
    height: 15%;
    background: transparent;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    cursor: pointer;
    /* border: 1px solid black; */
    color: rgb(0, 0, 0);
    text-align: left;
    padding-left: 5%;
    font-size: 14px;
    font-weight: 300;
}
.btn button:hover{
    color: #fff;
    background: rgb(0, 0, 0);
}
.submit{
    width: 100%;
    height: 5%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
#Next{
    width: 20%;
    height: 100%;
    background-color: rgb(191, 255, 255);
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
    display: block;

}
#Next:hover{
    background-color: black;
    color: white;
}
#restart{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 4%;
    background: transparent;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
    text-decoration: none;
    color: black;
    font-size: 12px;
    border: 1px solid black;
    margin-top: 5%;
}
#restart:hover{
    background: black;
    color: white;
}
#restart h3{
    font-weight: 300;
}